.grid {
    display: grid;
    padding: 2px; 
    grid-template-columns: repeat(14, 40px);
    grid-template-rows: repeat(14, 40px);
    grid-gap: 4px; 
    width: 613px;
    height: 613px;
    border: solid black 1px;
    background-color: green;
}

.grid div {
    width: 40px;
    height: 40px;
}

.angry {
    background-image: url("angry.svg");
    background-size: cover;
}
.v-angry {
    background-image: url("very-angry.svg");
    background-size: cover;
}
.x-angry {
    background-image: url("extremely-angry.svg");
    background-size: cover;
}

.horn {
    background-image: url("horn.svg");
    background-size: cover;
}